:root {
    --dark: #23272b;
    --bright-turqoise: #2aefcb;
    --heliotrope: #e866ec;
}


body {
    background-color: var(--dark);
    margin: 0;
    font-family: "Orbitron", serif;
    font-weight: 400;
    height: 110vh;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    h1 {
        color: var(--bright-turqoise);
        font-size: 3rem;
    }
}


.game-field-section {
    h2 {
        margin: 1rem 0 0 4rem;
        color: var(--heliotrope);
        font-size: 2rem;
    }
    .game-field-buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 1rem;
        height: 600px;
        width: 600px;
        margin: 2rem auto;
        button.game-field {
            background: none;
            border: 2px solid var(--bright-turqoise);
            /* box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope); */
            box-shadow: inset 0px 0px 8px var(--bright-turqoise), 0 0 15px var(--bright-turqoise);
            padding: 2rem;
            _cursor: pointer;
        }
    }
}


footer {
    text-align: center;
    #reset-button {
        border: none;
        background: url(./img/icon-reset.svg) no-repeat center;
        background-size: cover;
        padding: 2.5rem;
        cursor: pointer;
        filter: drop-shadow(3px 3px 2px var(--heliotrope));
        transition: all 0.2s ease-in-out;
    }
    #reset-button:hover {
        padding: 2.8rem;
    }
}

body.player-x {
    cursor: url(./img/icon-x.svg), auto;
    button.game-field {
        cursor: url(./img/icon-x.svg), auto; 
    }
    .game-field:hover {
        background-image: url(./img/icon-x.svg);
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: center;
        filter: drop-shadow(3px 3px 2px var(--bright-turqoise));
    }
    .game-field[data-player="x"]:hover,
    .game-field[data-player="o"]:hover {
        background: none;
        filter: none;
        cursor: url(./img/icon-block.svg), auto;
    }
}


body.player-o {
    cursor: url(./img/icon-o.svg), auto;
    button.game-field {
        cursor: url(./img/icon-o.svg), auto; 
    }
    .game-field:hover {
        background-image: url(./img/icon-o.svg);
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: center;
        filter: drop-shadow(3px 3px 2px var(--bright-turqoise));
    }
    .game-field[data-player="x"]:hover,
    .game-field[data-player="o"]:hover {
        background: none;
        filter: none;
    }
}